<%- include('partials/login-header');%>
  

<body class="text-center">
    
    <main class="form-signin">
      <form>

        <img class="mb-4" src="images/logo.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Welcom To Blogic</h1>
        <a class="btn btn-outline-success btn-lg" href="/register" role="button">Register</a>
      
    
        <a class="btn btn-outline-success btn-lg" href="/login" role="button">Login</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
    
    
        
      </body>
    </html>