<%- include('partials/login-header');%>

  <body class="text-center">
    
<main class="form-signin">
  <form action="/register" method="POST">
    <img class="mb-4" src="images/logo.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Welcome</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg  btn-success signin-btn" type="submit">Sign up</button>
   
        <a
          class="w-100 btn btn-lg btn-block btn-social btn-google signin-btn"
          href="/auth/google"
          role="button"
        >
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
    
  
    
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>


    
  </body>
</html>